<!DOCTYPE html>

<html ng-app="app">
<head>
  <title>Evenements</title>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application'  %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="initial-scale=1, maximum-scale=1">
  <link rel="icon" href="./icon.png">
</head>
<body>
  <nav>
    <div class="nav-wrapper grey darken-3">
      <a href="#" class="brand-logo center amber-text text-lighten-1">Gestion d'évènnements</a>
      <ul id="nav-mobile" class="left hide-on-med-and-down">
      </ul>
    </div>
  </nav>

  <div ng-view>
    <%= yield %>
  </div>
<footer class="page-footer fixed grey darken-3">
  <div class="container">
    <div class="row">
      <div class="col l12 m12 s12 white-text">
        Application de Gestion d'évènnement
      </div>
    </div>
  </div>
</footer>

</body>
</html>
